.checkbox-switch {
  left: -50px;
  position: relative;
}

.checkbox-switch::before {
  content: "";
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 72px;
  height: 32px;
  background-color: var(--checkbox-dark-color);
  background-image: url(../../../../images/moon.svg);
  background-position: 45px center;
  background-repeat: no-repeat;
  border-radius: 16px;
  transition: background-color 0.3s;
}

.checkbox-switch::after {
  content: "";
  position: absolute;
  display: block;
  top: 4px;
  left: 4px;
  width: 24px;
  height: 24px;
  border-radius: 16px;
  background-color: var(--checkbox-switch-dark-color);
}
